<div class="mr-5 mt-4">
  <h1 *ngIf="userType === 'jainkoa'" class="text-5xl font-bold text-center">Jainkoaren espazioa</h1>
  <h1 *ngIf="userType === 'admin'" class="text-5xl font-bold text-center">Administratzailearen espazioa</h1>
</div>
  <!-- User Data Section -->
  <div class="m-5">
    <p-card header="Datos del administrador" class="shadow-lg rounded-lg">
      <div class="flex items-center p-6">
        <img
          [src]="user?.argazkia | photosPipe"
          alt="Admin Photo"
          class="rounded-full w-24 h-24 shadow-md mr-6"
        />
        <div>
          <p class="font-bold text-5xl mb-5">
            {{ user?.nombre }} {{ user?.apellidos }}
          </p>
          <p class="text-gray-400 text-lg">E-mail: {{ user?.email }}</p>
        </div>
      </div>
    </p-card>
  </div>
  <p-divider type="solid" />
  <div class="m-5">
    <p-card header="Ikasleak" class="shadow-lg rounded-lg">
        
    </p-card>
  </div>

