<header>
  <div class="logo-container">
    <a routerLink="/login"
      ><img src="elorrieta.png" width="290" height="290" alt="JEM Logo"
    /></a>
  </div>

  <div class="user-language-container">
    <div class="language-toggle">
      <p-select
        id="language"
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        optionLabel="name"
        optionValue="code"
        (onChange)="translateText($event)"
      ></p-select>
    </div>
    <div class="user-button">
      <a routerLink="/login"
        ><img src="oihan.jpg" width="50" height="50" alt="User Logo"
      /></a>
    </div>
  </div>
</header>
