<div class="grid grid-cols-4 gap-4 ml-5">
  <p-card class="!border !rounded-xl mt-4">
    <ng-template #title>
      <p>{{ bilera.titulo }}</p>
      <p class="text-xs uppercase border w-fit p-1 mt-2">{{ bilera.estado }}</p>
    </ng-template>
    <ng-template pTemplate="content">
      <p>
        <strong>Asunto: </strong>
        {{ bilera.asunto }}
      </p>
      <p>
        <strong>Fecha y hora: </strong>
        {{ bilera.fecha }}
      </p>
      <p>
        <strong>Aula: </strong>
        {{ bilera.aula }}
      </p>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Ver detalles"
        icon="pi pi-info-circle"
        class="mt-3 "
        routerLink="/students/meetings/:id"
      ></button>
    </ng-template>
  </p-card>
</div>
