<div class="grid grid-cols-4 gap-4 ml-5">
  <p-card header="{{ bilera.titulo }}" subheader="{{ bilera.fecha }}">
    <ng-template pTemplate="content">
      <p class="text-sm">
        <strong>Asunto: </strong>
        {{ bilera.asunto }}
      </p>
      <p>
        <strong>Aula: </strong>
        {{ bilera.aula }}
      </p>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Ver más"
        icon="pi pi-info-circle"
        class="text-xs"
        routerLink="/students/meetings/:id"
      ></button>
    </ng-template>
  </p-card>
</div>
