<div class="container mx-auto p-6">
  <a [routerLink]="returnRoute" class="text-blue-500 flex items-center mb-4">
    <i class="pi pi-angle-left mr-2"></i>
    {{ 'bilerak.backToDashboard' | translate }}
  </a>
  <h1 class="text-4xl font-bold mb-4">{{ 'bilerak.meetingInfo' | translate }}</h1>
  @if (bilerakGodAdmin) {
  <p-card>
    <ng-template #title>
      <p class="text-3xl">{{ bilerakGodAdmin.titulo }}</p>
    </ng-template>
    <p class="inline-block text-xs uppercase border p-1 mt-2 mb-4 mx-auto">
      {{ 'estado.' + bilerakGodAdmin.estado | translate }}
    </p>
    <!-- BILERAK GOD ADMIN -->
    <div class="space-y-4">
      <p class="text-lg">
        <strong>{{ 'bilerak.subject' | translate }} </strong>
        {{ bilerakGodAdmin.asunto }}
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.dateAndTime' | translate }} </strong>
        {{ bilerakGodAdmin.fecha | date : "dd/MM/yyyy - HH:mm" }}h
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.classroom' | translate }} </strong>
        {{ bilerakGodAdmin.aula }}
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.teacher' | translate }} </strong>
        {{ bilerakGodAdmin.nombre_profesor }}
        {{ bilerakGodAdmin.apellidos_profesor }}
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.student' | translate }} </strong>
        {{ bilerakGodAdmin.nombre_alumno }}
        {{ bilerakGodAdmin.apellidos_alumno }}
      </p>
    </div>
  </p-card>
  } @else {
  <p-card *ngIf="bilerakAlumno; else profesorTemplate">
    <ng-template #title>
      <p class="text-2xl">{{ bilerakAlumno.titulo }}</p>
    </ng-template>
    <p class="inline-block text-xs uppercase border p-1 mt-2 mb-4 mx-auto">
      {{ 'estado.' + bilerakAlumno.estado | translate }}
    </p>
    <!-- BILERAK ALUMNO -->
    <div class="space-y-4">
      <p class="text-lg">
        <strong>{{ 'bilerak.subject' | translate }} </strong>
        {{ bilerakAlumno.asunto }}
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.dateAndTime' | translate }} </strong>
        {{ bilerakAlumno.fecha | date : "dd/MM/yyyy - HH:mm" }}h
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.classroom' | translate }} </strong>
        {{ bilerakAlumno.aula }}
      </p>
      <p class="text-lg">
        <strong>{{ 'bilerak.teacher' | translate }} </strong>
        {{ bilerakAlumno.nombre_profesor }}
        {{ bilerakAlumno.apellidos_profesor }}
      </p>
    </div>
  </p-card>

  <ng-template #profesorTemplate>
    <p-card>
      <ng-template #title>
        <p class="text-3xl">{{ bilerakProfesor?.titulo }}</p>
      </ng-template>
      <p class="inline-block text-xs uppercase border p-1 mt-2 mb-4 mx-auto">
        {{ 'estado.' + bilerakProfesor?.estado | translate }}
      </p>
      <!-- BILERAK PROFESOR -->
      <div class="space-y-4">
        <p class="text-lg">
          <strong>{{ 'bilerak.subject' | translate }} </strong>
          {{ bilerakProfesor?.asunto }}
        </p>
        <p class="text-lg">
          <strong>{{ 'bilerak.dateAndTime' | translate }} </strong>
          {{ bilerakProfesor?.fecha | date : "dd/MM/yyyy - HH:mm" }}h
        </p>
        <p class="text-lg">
          <strong>{{ 'bilerak.classroom' | translate }} </strong>
          {{ bilerakProfesor?.aula }}
        </p>
        <p class="text-lg">
          <strong>{{ 'bilerak.student' | translate }} </strong>
          {{ bilerakProfesor?.nombre_alumno }}
          {{ bilerakProfesor?.apellidos_alumno }}
        </p>
      </div>
    </p-card>
  </ng-template>
  }
  <div class="grid gap-4 mt-6">
    <p-card header="{{ 'bilerak.mapLocation' | translate }}" class="shadow-lg rounded-lg">
      <div>
        <p>{{ this.ikastetxea?.DMUNIC }}</p>
      </div>
      <div class="h-96 mt-2">
        <div id="mapa" class="h-full"></div>
      </div>
    </p-card>
  </div>
</div>
