<div class="mr-5 mt-4">
  <h1 class="text-5xl font-bold text-center">{{ 'home-ikasle.studentSpace' | translate }}</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-6">
  <!-- User Data Section -->
  <div class="col-span-1">
    <p-card [header]="'home-ikasle.studentData' | translate" class="shadow-lg rounded-lg">
      <div class="flex items-center p-6">
        <img
          [src]="user?.argazkia | photosPipe"
          alt="User Photo"
          class="rounded-full w-24 h-24 shadow-md mr-6"
        />
        <div>
          <p class="font-bold text-5xl mb-5">
            {{ user?.nombre }} {{ user?.apellidos }}
          </p>
          <p class="text-gray-400 text-lg">E-mail: {{ user?.email }}</p>
        </div>
      </div>
      <p-divider type="solid" />
      <div class="p-6 space-y-4">
        <h1 class="text-2xl font-bold text-center">{{ 'home-ikasle.personalInfo' | translate }}</h1>
        <p class="text-lg"><span class="font-semibold">{{ 'home-ikasle.address' | translate }}:</span> {{ user?.direccion }}</p>
        <p class="text-lg"><span class="font-semibold">{{ 'home-ikasle.phone1' | translate }}:</span> {{ user?.telefono1 }}</p>
        <p *ngIf="user?.telefono2" class="text-lg"><span class="font-semibold">{{ 'home-ikasle.phone2' | translate }}:</span> {{ user?.telefono2 }}</p>
        <p class="text-lg"><span class="font-semibold">{{ 'home-ikasle.dni' | translate }}:</span> {{ user?.dni }}</p>
      </div>
    </p-card>
  </div>

  <!-- Schedule Section -->
  <div class="col-span-1">
    <p-card [header]="'home-ikasle.schedule' | translate" class="shadow-lg rounded-lg">
      @if (!schedule) {
      <p class="mt-3 text-center">{{ 'home-ikasle.noSchedule' | translate }}</p>
      } @else {     
        <p-table showGridlines [value]="[schedule]" class="p-1">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>{{ 'home-ikasle.monday' | translate }}</th>
              <th>{{ 'home-ikasle.tuesday' | translate }}</th>
              <th>{{ 'home-ikasle.wednesday' | translate }}</th>
              <th>{{ 'home-ikasle.thursday' | translate }}</th>
              <th>{{ 'home-ikasle.friday' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr *ngFor="let h of hours">
              <td>{{ h }}</td>
              <td>{{ findModule('L/A', h) }}</td>
              <td>{{ findModule('M/A', h) }}</td>
              <td>{{ findModule('X', h) }}</td>
              <td>{{ findModule('J/O', h) }}</td>
              <td>{{ findModule('V/O', h) }}</td>
            </tr>
          </ng-template>
        </p-table>
      }
    </p-card>
  </div>
</div>

<p-divider type="solid" />

<div class="p-6">
  <p-card [header]="'home-ikasle.meetings' | translate: { count: bilerak.length }" class="shadow-lg rounded-lg">
    <!-- BILERAK -->
    <div *ngIf="bilerak.length === 0">
      <p class="m-6 text-center">{{ 'home-ikasle.noMeetings' | translate: { name: user?.nombre } }}</p>
    </div>
    <div class="grid grid-cols-4 gap-4 ml-5 mt-2" *ngIf="bilerak.length > 0">
      <div *ngFor="let bilera of bilerak" class="mb-4">
        <app-bilerak-card [bilera]="bilera"></app-bilerak-card>
      </div>
    </div>
  </p-card>
</div>
