<div class="mr-5 mt-4">
  <h1 class="text-5xl font-bold text-center">Ikaslearen espazioa</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-2 p-6">
  <!-- User Data Section -->
  <div class="col-span-1">
    <p-card header="Ikaslearen datuak" class="shadow-lg rounded-lg">
      <div class="flex items-center p-6">
        <img
          [src]="getLoggedUser() | photosPipe"
          alt="User Photo"
          class="rounded-full w-24 h-24 shadow-md mr-6"
        />
        <div>
          <p class="font-bold text-5xl mb-5">
            {{ user?.nombre }} {{ user?.apellidos }}
          </p>
          <p class="text-gray-400 text-lg">E-mail: {{ user?.email }}</p>
        </div>
      </div>
    </p-card>
  </div>

  <!-- Schedule Section -->
  <div class="col-span-1">
    <p-card header="Ordutegia" class="shadow-lg rounded-lg">
      <p-table class="p-1" [value]="schedule" showGridlines>
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-i="rowIndex" let-horario>
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ horario[0]?.Modulo || "-" }}</td>
            <td>{{ horario[1]?.Modulo || "-" }}</td>
            <td>{{ horario[2]?.Modulo || "-" }}</td>
            <td>{{ horario[3]?.Modulo || "-" }}</td>
            <td>{{ horario[4]?.Modulo || "-" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<p-divider type="solid" />

<div class="p-6">
  <p-card header="Bilerak ({{ bilerak.length }})" class="shadow-lg rounded-lg">
    <!-- BILERAK -->
    <div *ngIf="bilerak.length === 0">
      <p class="m-6 text-center">Ez daukazu bilerarik, {{ user?.nombre }}!</p>
    </div>
    <div class="grid grid-cols-4 gap-4 ml-5 mt-2" *ngIf="bilerak.length > 0">
      <div *ngFor="let bilera of bilerak" class="mb-4">
        <app-bilerak-card [bilera]="bilera"></app-bilerak-card>
      </div>
    </div>
  </p-card>
</div>
