<div class="mr-5 ml-5 mt-2">
  <p-card>
    <h1 class="text-3xl">Dashboard Ikasle</h1>
  </p-card>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
  <!-- User Data Section -->
  <div class="col-span-1">
    <p-card header="Ikaslearen datuak" class="shadow-lg rounded-lg">
      <div class="flex items-center p-6">
        <img
          src="oihan.jpg"
          alt="User Photo"
          class="rounded-full w-24 h-24 shadow-md mr-4"
        />
        <div>
          <p class="font-bold text-lg">Izena: {{ user?.nombre }}</p>
          <p class="text-gray-400">E-mail: {{ user?.email }}</p>
          <!-- Add more user data as needed -->
        </div>
      </div>
    </p-card>
  </div>

  <!-- Schedule Section -->
  <div class="col-span-1">
    <p-card header="Ordutegia" class="shadow-lg rounded-lg">
      <p-table [value]="schedule" showGridlines>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let scheduleItem of schedule">
              {{ scheduleItem.dia }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-horario>
          <tr *ngFor="let horario of horario">
            <td>{{ horario.Dia }}</td>
            <td>{{ horario.Hora }}</td>
            <td>{{ horario.Modulo }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <!-- Meetings Section -->
  <div class="col-span-1 md:col-span-2 lg:col-span-3">
    <p-card header="Bilerak" class="shadow-lg rounded-lg">
      <p-listbox
        [options]="meetings"
        optionLabel="title"
        class="p-listbox-striped"
      >
        <ng-template let-meeting pTemplate="item">
          <div
            class="flex justify-between items-center p-4 border-b border-gray-200"
          >
            <div>
              <p class="font-bold text-lg">{{ meeting.title }}</p>
              <p class="text-gray-600">{{ meeting.details }}</p>
            </div>
            <div class="text-right">
              <p class="text-gray-500">{{ meeting.date | date }}</p>
              <p class="text-gray-500">{{ meeting.time }}</p>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </p-card>
  </div>
</div>
